<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>주문 정보 전송</title>


</head>
<body>

<form id="orderForm" onsubmit="return sendOrder()">
    <div id = "allMenuList"></div>


    <label for="storeName">가게 이름:</label>
    <input type="text" id="storeName" required><br>

    <input type="hidden" id="loginId" name="loginId"/>
    <input type="hidden" id="roles" name="roles" />

    <!-- Dynamic menu and quantity fields will be added here -->

    <input type="submit" value="주문하기">
    <button type="button" onclick="addMenuField()">메뉴 추가</button><br>

    <script   src="https://code.jquery.com/jquery-3.7.1.min.js"   integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="   crossorigin="anonymous"></script>
    <script src = "/js/send_loginId.js"></script>
    <script src = "/js/orderMenu.js"></script>
    <script src="/js/allMenuData.js"></script>

</form>
</body>
</html>
