<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Order</title>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var loginId = sessionStorage.getItem("loginId");
      document.getElementById("loginId").value = loginId;
    });
  </script>
</head>
<body>
<form th:action="@{/order/add}" th:object="${orderDTO}" method="post">
  <label>StoreName : </label>
  <input type="text" id="storeName" th:field="*{storeName}" required><br><br>

  <label>MenuOrder : </label>
  <div id="menuOrderContainer">
    <div>
      <label th:for="${'menuName_0'}">메뉴 이름:</label>
      <input type="text" th:field="*{menuOrders[0].menuName}" required>
      <br>
      <label th:for="${'quantity_0'}">수량:</label>
      <input type="number" th:field="*{menuOrders[0].quantity}" required>
      <br><br>
    </div>
    <div>
      <label th:for="${'menuName_1'}">메뉴 이름:</label>
      <input type="text" th:field="*{menuOrders[1].menuName}" required>
      <br>
      <label th:for="${'quantity_1'}">수량:</label>
      <input type="number" th:field="*{menuOrders[1].quantity}" required>
      <br><br>
    </div>
  </div>
  <input type="hidden" id="loginId" name="loginId"/>
    <input type="hidden" id="roles" name="roles" />
  <button type="submit">주문 완료</button>
</form>
</body>
</html>
