<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>login success</title>
</head>
<body>
<script th:inline="javascript">
    function saveLoginIdToSessionStorage(loginId) {
        sessionStorage.setItem('loginId', loginId);
    }

    var receivedLoginId = [[${loginId}]];
    saveLoginIdToSessionStorage(receivedLoginId);

    function getLoginIdFromSessionStorage() {
        return sessionStorage.getItem('loginId');
    }
    var retrievedLoginId = getLoginIdFromSessionStorage();

</script>


</body>
</html>